<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>[Cinephoria] automatic mail</title>
        <style>
            .button {
                background-color: #2E4D34;
                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                border-radius: 5px;
                font-size: 16px;
            }
            .button:hover {
                background-color: #C9A85C;
            }
        </style>
    </head>

    <body>
    <div style="padding: 0; margin: 0;">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
