@tailwind base;
@tailwind components;
@tailwind utilities;

/*{
    --vert-foret: #2E4D34;
    --vert-sauge: #A3B89C;
    --brun-terre: #7A5A3C;
    --or-doux: #C9A85C;
    --blanc-casse: #F8F6F0;
}*/

@layer base {
    * {
        font-family: Poppins;
    }

    a {
        @apply no-underline text-cyan-700;
    }
}

@layer utilities {
    .bg-spider-cover {
        @apply bg-cyan-700 bg-center bg-no-repeat;
        background-image: url("../public/api-platform/web.svg");
        background-size: 110%;
    }
    .ribbon {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(13.397459%, -100%) rotate(30deg); /* translateX: 100%*(1-cos(angleRotation) */
        transform-origin: bottom left;
  }
}
